 body {
     height: 100%;
     position: relative;
     font: 18px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
     background: #f2f2f2;
 }
 
 a {
     text-decoration: none;
     color: #000;
 }
 
 h1 {
     width: 150px;
     margin: 0 auto;
     font-size: 32px;
     font-weight: bold;
 }
 
 h2 {
     font-family: "allerbold";
     font-weight: bold;
     color: #f00;
     text-transform: uppercase;
     font-size: 14px;
 }
 
 h3 {
     margin: 20px auto;
     text-align: center;
 }
 
 .title {
     text-align: center;
     margin-top: 100px;
     width: 100%;
     height: 60px;
 }
 
 .title_en {
     width: 0;
     margin: 3px auto;
     padding: 5px 0;
     border-top: 2px solid #f00;
 }
 
 .title_en h2 {
     display: none;
 }
 
 @media screen and (max-width:1366px) {
     body {
         font-size: 13px;
     }
     h1 {
         font-size: 24px;
     }
     h2 {
         font-size: 12px;
     }
     .title {
         margin-top: 60px;
     }
 }
 /* header */
 
 body {
     height: 100%;
     position: relative;
     font: 18px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
     background: #f2f2f2;
 }
 
 a {
     text-decoration: none;
     color: #000;
 }
 
 h1 {
     width: 150px;
     margin: 0 auto;
     font-size: 32px;
     font-weight: bold;
 }
 
 h2 {
     font-family: "allerbold";
     font-weight: bold;
     color: #f00;
     text-transform: uppercase;
     font-size: 14px;
 }
 
 h3 {
     margin: 20px auto;
     text-align: center;
 }
 
 .title {
     text-align: center;
     margin-top: 100px;
     width: 100%;
     height: 60px;
 }
 
 .title_en {
     width: 0;
     margin: 3px auto;
     padding: 5px 0;
     border-top: 2px solid #f00;
 }
 
 .title_en h2 {
     display: none;
 }
 
 @media screen and (max-width:1366px) {
     body {
         font-size: 13px;
     }
     h1 {
         font-size: 24px;
     }
     h2 {
         font-size: 12px;
     }
     .title {
         margin-top: 60px;
     }
 }
 /* header */